# Intro

The OECD database is composed of hundreds (if not thousands) of tables that focus on specific economic and social variables. These variables are attirbutable to individual countries, and are generally recorded over time, making them a time series. 

For the purposes of this analysis, we are only interested in the latest year's data point, which would reflect the most recent characterization of each country's social and economic situation. 

However, given that we have years of data for each country, there is also the potential to use the change in the variable as a feature of our modeling. For example, rapid improvement in immunization coverage for a country would imply effective health education and could represent a more accurate picture of how the country is better educating the public about a new pandemic versus a country with a higher, but stagnant, immunization record. 

For now, we are combining the various OECD tables on the 'country' key so that we can merge it with COVID data.

Data transformation to follow.

# Loading and Cleaning Data

Here we load and clean csv data taken from the OECD database. This includes datasets on the following topics:
- Education
- Government Debt
- Immunization
- Demographics / Population
- Tourism
- Wealth Distribution

For each dataset, there are multiple columns we are not interested in. Furthermore, for the columns we do want, there are various version of that variable, so we need to filter on what we are looking for. The tables are not standardized, so each csv file will have to be cleaned and prepared individually.

### Load Packages

In [1]:
import pandas as pd

## Education

We hypothesize that a country's education should play a key role in the success rate of the country's approach to COVID. Specifically, a more highly educated country should, in theory, have a more effective approach to dealing with the virus, and should have a populace that better understands public health terminiology, what viruses are, and would be more willing to take the pandemic seriously. 

So we will focus on the share of population of countries that have a tertiary education level. This is defined on wikipedia as:

*Tertiary education, also referred to as third-level, third-stage or post-secondary education, is the educational level following the completion of secondary education. The World Bank, for example, defines tertiary education as including universities as well as trade schools and colleges.*

In [2]:
url_edu = 'https://raw.githubusercontent.com/pvai-umich/SIADS591/master/Data/OECD_Education_Statistics.csv'
dfraw_edu = pd.read_csv(url_edu)

In [4]:
columns_to_use = ['COUNTRY', 'Country', 'Gender', 'ISCED 2011 A education level', 'Reference Period', 'Measure', 'Value']

# Only select the columns we want to use
df_edu = dfraw_edu[columns_to_use]

# filter some of the columns to include the variables we want to see
df_edu = df_edu[df_edu['ISCED 2011 A education level'] == "Tertiary education"]
df_edu = df_edu[df_edu['Gender'] == "Total"]
df_edu = df_edu[df_edu['Measure'] == "Value"]
df_edu = df_edu[df_edu['Reference Period'] == 2018]

# This final dataframe contains the share of each country's population that has a tertiary education. 
df_edu

,COUNTRY,Country,Gender,ISCED 2011 A education level,Reference Period,Measure,Value
447,KOR,Korea,Total,Tertiary education,2018.0,Value,49.008511
701,CAN,Canada,Total,Tertiary education,2018.0,Value,57.888363
709,JPN,Japan,Total,Tertiary education,2018.0,Value,51.928062
774,CZE,Czech Republic,Total,Tertiary education,2018.0,Value,24.262077
909,FRA,France,Total,Tertiary education,2018.0,Value,36.897491
1019,AUS,Australia,Total,Tertiary education,2018.0,Value,45.727478
1274,AUT,Austria,Total,Tertiary education,2018.0,Value,32.711426
1416,SVN,Slovenia,Total,Tertiary education,2018.0,Value,32.455208
1900,DEU,Germany,Total,Tertiary education,2018.0,Value,29.065134
2056,BEL,Belgium,Total,Tertiary education,2018.0,Value,40.638546
2698,FIN,Finland,Total,Tertiary education,2018.0,Value,45.188133
2704,IRL,Ireland,Total,Tertiary education,2018.0,Value,46.935135
2763,COL,Colombia,Total,Tertiary education,2018.0,Value,23.391361
2766,CRI,Costa Rica,Total,Tertiary education,2018.0,Value,22.601564
2770,NZL,New Zealand,Total,Tertiary education,2018.0,Value,39.292675
2771,BRA,Brazil,Total,Tertiary education,2018.0,Value,17.210516
2805,SWE,Sweden,Total,Tertiary education,2018.0,Value,43.267170
2873,SVK,Slovak Republic,Total,Tertiary education,2018.0,Value,24.583420
2874,ARG,Argentina,Total,Tertiary education,2018.0,Value,35.663551
2898,CHE,Switzerland,Total,Tertiary education,2018.0,Value,43.744415
2904,ITA,Italy,Total,Tertiary education,2018.0,Value,19.323732
2908,USA,United States,Total,Tertiary education,2018.0,Value,47.431145
2920,NOR,Norway,Total,Tertiary education,2018.0,Value,43.575832
2943,GRC,Greece,Total,Tertiary education,2018.0,Value,31.739904
2949,LUX,Luxembourg,Total,Tertiary education,2018.0,Value,43.886856
2990,PRT,Portugal,Total,Tertiary education,2018.0,Value,24.984337
2995,ISR,Israel,Total,Tertiary education,2018.0,Value,50.916050
3002,HUN,Hungary,Total,Tertiary education,2018.0,Value,25.101177
3010,GBR,United Kingdom,Total,Tertiary education,2018.0,Value,45.781677
3042,MEX,Mexico,Total,Tertiary education,2018.0,Value,17.979799
3053,ZAF,South Africa,Total,Tertiary education,2018.0,Value,7.197612
3071,LVA,Latvia,Total,Tertiary education,2018.0,Value,33.939289
3094,LTU,Lithuania,Total,Tertiary education,2018.0,Value,41.654594
3153,EST,Estonia,Total,Tertiary education,2018.0,Value,41.130722
3189,DNK,Denmark,Total,Tertiary education,2018.0,Value,38.055264
3194,NLD,Netherlands,Total,Tertiary education,2018.0,Value,38.343895
3201,POL,Poland,Total,Tertiary education,2018.0,Value,30.919592
3204,TUR,Turkey,Total,Tertiary education,2018.0,Value,20.780222
3219,ISL,Iceland,Total,Tertiary education,2018.0,Value,43.749649
3250,ESP,Spain,Total,Tertiary education,2018.0,Value,37.252804

### Debt

In [5]:
url_debt = 'https://raw.githubusercontent.com/pvai-umich/SIADS591/master/Data/OECD_Government_Debt.csv'
df_debt = pd.read_csv(url_debt)

### Immunization

In [6]:
url_imm = 'https://raw.githubusercontent.com/pvai-umich/SIADS591/master/Data/OECD_Immunization_Statistics.csv'
df_imm = pd.read_csv(url_imm)

### Population / Demographics

In [7]:
url_pop = 'https://raw.githubusercontent.com/pvai-umich/SIADS591/master/Data/OECD_Population_Statistics.csv'
df_pop = pd.read_csv(url_pop)

### Tourism

In [ ]:
url_tour = 'https://raw.githubusercontent.com/pvai-umich/SIADS591/master/Data/OECD_Tourism_Statistics.csv'
df_tour = pd.read_csv(url_tour)

### Wealth Distribution

In [9]:
url_wealth = 'https://raw.githubusercontent.com/pvai-umich/SIADS591/master/Data/OECD_Wealth_Distribution_Statistics.csv'
df_wealth = pd.read_csv(url_wealth)

## Combining the OECD Data

For now, we are combining the various OECD tables on the 'country' key so that we can merge it with COVID data.

Data transformation to follow.

In [10]:
df_edu.head()

,COUNTRY,Country,ISC11A,ISCED 2011 A education level,SEX,Gender,AGE,Age,FIELD,Field,...,Reference year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,SWE,Sweden,L3_T_SC2,Completion of intermediate upper secondary pro...,T,Total,Y25T64,25-64 years,T,Total,...,Latest available year,PC,Percentage,0,Units,2018.0,2018.0,0.040459,NaN,NaN
1,LVA,Latvia,L1_T_SC3T4,Primary education,T,Total,Y25T64,25-64 years,T,Total,...,Latest available year,PC,Percentage,0,Units,2018.0,2018.0,0.037784,NaN,NaN
2,USA,United States,L6,Bachelor’s or equivalent education,T,Total,Y25T64,25-64 years,T,Total,...,Latest available year,PC,Percentage,0,Units,2018.0,2018.0,0.140018,NaN,NaN
3,MEX,Mexico,L2_T_SC3T4,Lower secondary education,T,Total,Y25T64,25-64 years,T,Total,...,Latest available year,PC,Percentage,0,Units,2018.0,2018.0,0.102150,NaN,NaN
4,PRT,Portugal,L3,Upper secondary education,T,Total,Y25T64,25-64 years,T,Total,...,Latest available year,PC,Percentage,0,Units,2018.0,2018.0,0.151575,NaN,NaN