## SAIDS 591
By: Peter Vaiciunas & Michael Zerman

### 1. Data Ingestion (COVID19 & OECD)

In [33]:
#Importing Spark for Python Libray
#Creating a Spark Session
import requests
import pandas as pd

Load JSON Files - COVID 19

In [34]:
#Importing COVID19 Global Data
global_stats = pd.read_json(r'global_stats.json')

Create Temp View for the DataFrames

In [66]:
lst=[]
for i in global_stats['results']:
    for key,value in i.items():
        pair=[key,value]
        lst.append(pair)

In [68]:
pd.DataFrame((lst), columns =['Stat', 'Value'])

                       Stat                                    Value
0               total_cases                                 23164025
1           total_recovered                                 15742473
2          total_unresolved                                  5940153
3              total_deaths                                   804028
4     total_new_cases_today                                        0
5    total_new_deaths_today                                        0
6        total_active_cases                                        0
7       total_serious_cases                                        0
8  total_affected_countries                                      213
9                    source  {'url': 'https://thevirustracker.com/'}